<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>処置完了</title>
    <script>
        // 開発者ツールの検証ツールを無効化する
        document.onkeydown = function (event) {
            if (event.keyCode === 123) { // F12キーを無効化
                return false;
            } else if (event.ctrlKey && event.shiftKey && event.keyCode === 73) { // Ctrl+Shift+Iを無効化
                return false;
            }
        };

        // 右クリックメニューを無効化する
        document.addEventListener('contextmenu', function (e) {
            e.preventDefault();
        });
        
        // コンソールログを無効化する
        console.log = function () {};
        console.error = function () {};
    </script>
</head>
<body>
    <h1>処置完了しました</h1>
    <p><a href="{% url 'doctor_home' %}">ホームに戻る</a></p>
</body>
</html>